body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
}

.container {
  padding: 2rem;
  text-align: center;
}

.countdown {
  margin: 2rem 0;
  font-size: 1.5rem;
}

/*  RACES PAGE */
.races-page {
  background: linear-gradient(135deg, #0a0a0a 0%, #1a1a1a 100%);
  padding: 3rem 2rem;
}

.races-page h1 {
  font-family: var(--font-bold);
  font-size: 2.5rem;
  color: #ffd100;
  margin-bottom: 1rem;
}

.races-page p {
  font-family: var(--font-text);
  color: #cccccc;
  margin-bottom: 2rem;
}

.race-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.race-card {
  height: 350px;
  width: 500px;
  background: linear-gradient(
    135deg,
    rgba(220, 0, 0, 0.1) 0%,
    rgba(255, 209, 0, 0.05) 100%
  );
  border: 2px solid rgba(220, 0, 0, 0.2);
  transition: transform 0.2s ease;
  /*
    padding: 1rem;
    border-radius: 10px;
    background: #1e1e1e;
    */
}

.race-card:hover {
  transform: scale(1.03);
}

.race-card h2 {
  font-family: var(--font-bold);
  color: #ffffff;
}

/* DRIVERS PAGE */
.drivers-page {
  background: linear-gradient(135deg, #0a0a0a 0%, #1a1a1a 100%);
  padding: 3rem 2rem;
}

.drivers-page h1 {
  font-family: var(--font-bold);
  font-size: 2.5rem;
  color: #ffd100;
  margin-bottom: 1rem;
}

.drivers-page p {
  font-family: var(--font-text);
  color: #cccccc;
  margin-bottom: 2rem;
}

.driver-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.driver-card {
  height: 350px;
  width: 380px;
  background: linear-gradient(
    135deg,
    rgba(220, 0, 0, 0.1) 0%,
    rgba(255, 209, 0, 0.05) 100%
  );
  border: 1px solid rgba(255, 255, 255);
  transition: transform 0.2s ease;
  /*
    padding: 1rem;
    border-radius: 10px;
    background: #1e1e1e;
    */
}

.driver-card:hover {
  transform: scale(1.03);
}

.driver-card h2 {
  font-family: var(--font-bold);
  color: #ffffff;
}

/* BACK BTN */
.back-btn {
  width: fit-content;
  background: linear-gradient(135deg, #dc0000 0%, #ff0000 100%) !important;
}
